# week_06_ml

week_06_ml/data


# week_07_opencv 
#woman_animal_model ignored
week_07_opencv/woman_animal.pkl

#video ignored
week_07_opencv/static/image/*.mp4

# week_08_dl
# model ignored 
week_08_dl/models

# image ignored
week_08_dl/image

# week_10_sql
week_10_sql/static/image/newJeans.mp3

# week_11_flask
week_11_flask/Apps/model/new_new_saved_model