<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myface</title>
    <link type="text/css" rel="stylesheet" href="../static/CSS/insta_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hi+Melody&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
</head>
<body>
    <div id="all">
    <div id="insta"><a href="inner.html" style="font-family: 'Jua', sans-serif;font-size: 50px;">페이스북</a></div>
    
        <hr>

        <div id="group">
            <table>

                <tr>
                    <td style="font-family: 'Jua', sans-serif;font-size: 40px;"><a href="./test1.html"><img style="border-radius: 10px;" src="../static/image/호그와트.png"></a></td>
                    <td style="font-family: 'Jua', sans-serif;font-size: 40px;"><a href="./test1.html">해리포터, 내 얼굴에 어울리는 기숙사는?</a></td>
                </tr>
                
                <tr>
                    <td style="font-family: 'Jua', sans-serif;font-size: 40px;"><a href="./test2.html"><img style="border-radius: 10px;" src="../static/image/warm.png"></a></td>
                    <td style="font-family: 'Jua', sans-serif;font-size: 40px"><a href="./test2.html">내 얼굴 웜톤, 쿨톤?</a></td>
                </tr>
                <tr>
                    <td style="font-family: 'Jua', sans-serif;font-size: 40px;"><a href="./test3.html"><img style="border-radius: 10px;" src="../static/image/age.png"></a></td>
                    <td style="font-family: 'Jua', sans-serif;font-size: 40px"><a href="./test3.html">얼굴 나이 테스트</a></td>
                </tr>
                <tr>
                    <td style="font-family: 'Jua', sans-serif;font-size: 40px;"><a href="./test4.html"><img style="border-radius: 10px;" src="../static/image/girlgroup.png"></a></td>
                    <td style="font-family: 'Jua', sans-serif;font-size: 40px"><a href="./test4.html">내 얼굴에 어울리는 걸그룹</a></td>
                </tr>

            </table>
        </div>


        <br>
        <hr>



      
     
    </div>
</body>
</html>