<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reels</title>
    <link type="text/css" rel="stylesheet" href="../static/CSS/kang.css">
</head>
<body  style="overflow-x: hidden;">

    <div id="all">

    <div id="insta"><a href="./inner.html"><img id= "insta" src="../static/image/penguin.png" width="50" height="50"><img id= "insta" src="../static/image/reels.png" width="140" height="50"></a></div>
    
    
    <hr>
    
    <div id="back"> 

        <div class="main">
            <img src="../static/image/marathon.jpg" width="472px" height="840px">
        </div>

        <!-- 용량 문제로 주석처리하였습니다 -->
        <!-- 
        <div class="main">
            <video src = "../static/image/video2.mp4" controls width="1000" height="840" ></video>
        </div> -->

        <div class="main">
            <img src="../static/image/before.jpg" width="472px" height="840px">
        </div>

        <div class="main">
            <img src="../static/image/after.jpg" width="472px" height="840px">
        </div>

        <!-- 용량 문제로 주석처리하였습니다 -->
        <!-- <div class="main">
            <video src = "../static/image/dance.mp4" controls width="1000" height="840" ></video>
        </div> -->
        

        <div class="main">
            <img src="../static/image/high.jpg" width="472px" height="840px">
        </div>

        <!-- 용량 문제로 주석처리하였습니다 -->
        <!-- <div class="main">
            <video src = "../static/image/video3.mp4" controls width="1000" height="840" ></video>
        </div> -->
       
    </div>
    </div>
    

</body>
</html>