<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>animalstagram</title>
    <link type="text/css" rel="stylesheet" href="../static/CSS/insta_style.css">
</head>
<body>
    <div id="all">
    <div id="insta"><a href="inner.html"><img id= "insta" src="../static/image/penguin.png" width="50" height="50"><img id= "insta" src="../static/image/logo.png" width="200" height="50"></a></div>
    
        <hr>

        <div id="group">
            <table>
                <tr>
                    <td><a href="inner.html"><img src="../static/image/main_profile.jpg"></a></td>
                    <td>
                        <section>
                            <p id="nickname">___notshy___</h1>
                            <p id="introduce"> 

                                <table id="table1" width="250" height="50">
                                    <tr>
                                        <th>12</th>
                                        <th>21</th>
                                        <th>4</th>
                                    </tr>
                                    <tr>
                                        <td>게시물</td>
                                        <td>팔로워</td>
                                        <td>팔로잉</td>
                                    </tr>
                                </table>

                            </p>
                            
                        </section>

                        <div style="font-size: 30px;">부끄럼 없는 우리. 우린 춤출 때 빛나</div>
                    </td>
                    
                </tr>
            </table>
        </div>


        <br>
        <hr>

        <div>
            <table id="table2">
                <tr>
                    <td>
                        <figure>
                            <a id="kang" href="./inner.html"><img src="../static/image/kang.jpg" width="200" height="200" alt="panda1"></a>
                            <figcaption align="center">강요셉</figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure>
                            <a id="na" href="./inner.html"><img src="../static/image/승수.jpg" width="200" height="200" alt="panda2"></a>
                            <figcaption align="center">이승수</figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure>
                            <a id="park" href="./inner.html"><img src="../static/image/성원.png" width="200" height="200" alt="panda3"></a>
                            <figcaption align="center">윤성원</figcaption>
                        </figure>
                    </td>
                    <td>
                        <figure>
                            <a id="huh" href="./inner.html"><img src="../static/image/진석.jpg" width="200" height="200" alt="panda4"></a>
                            <figcaption align="center">장진석</figcaption>
                        </figure>
                    </td>
                </tr>
            </table>
    
        </div>
        

        <hr>

        <div id = "button1"><img src="../static/image/grid.png"></div>
        <div id = "button2"><img src="../static/image/profile.png"></div>
    
        <hr>
    
        <section id="images">
            <div id="pic1"><img src="../static/image/sj1.jpg"></div>
            <div id="pic2"><img src="../static/image/sj2.jpg"></div>
            <div id="pic3"><img src="../static/image/sj3.jpg"></div>
            <div id="pic4"><img src="../static/image/ys1.jpg"></div>
            <div id="pic5"><img src="../static/image/ys2.jpg"></div>
            <div id="pic6"><img src="../static/image/ys3.jpg"></div>
            <div id="pic7"><img src="../static/image/sw1.jpg"></div>
            <div id="pic8"><img src="../static/image/sw2.jpg"></div>
            <div id="pic9"><img src="../static/image/sw3.jpg"></div>
            <div id="pic10"><img src="../static/image/ss1.jpg"></div>
            <div id="pic11"><img src="../static/image/ss2.jpg"></div>
            <div id="pic12"><img src="../static/image/ss3.jpg"></div>
        </section>


      <hr>
      <hr>
      
        <table>
            <div id = "button3"><img src="../static/image/home.png"></div>
            <div id = "button3"><a href="./animal.html"><img src="../static/image/search.png"></a></div>
            <div id = "button3"><img src="../static/image/more.png"></div>
            <div id = "button3"><a href="./reels.html"><img src="../static/image/video.png"></a></div>
            <div id = "button3"><img src="../static/image/home.png"></div>

        </table>
    </div>
</body>
</html>